﻿@model IEnumerable<ReExam.Models.Topics.Topic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopicName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TopicName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TopicId }) |
            @Html.ActionLink("Go to post", "Index", "Post", new { id = item.TopicId }, null)|
            @Html.ActionLink("Delete", "Delete", new { id = item.TopicId })
        </td>
    </tr>
}

</table>
